*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: cadetblue;
}

h1, h3, h5{
  font-weight: bolder;
}

ul{
  padding: 0;
}

.wrapper{
  height: 100vh;
}

.custom-box{
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  min-height: 55%;
  text-align: center;
}

.custom-box .loading-gif{
  display: flex;
  height: 261px;
  justify-content: center;
  align-items: center;
}

.custom-box .loading-gif img{
  height: 60%;
}